@font-face {
  font-family: 'MinecraftiaRegular';
  src: url('/assets/fonts/MinecraftiaRegular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  /* Background */
  background: url(assets/images/backgrounds/1.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  /* Font */
  font-family: 'MinecraftiaRegular';
  font-weight: normal;
  font-style: normal;
  color: #e0e0e0;
  text-shadow: 3px 3px 0px #383838;
}

a {
  color: #e0e0e0;
  text-shadow: 3px 3px 0px #383838;
  text-decoration: none;
}

a:hover {
  text-decoration: underline #e0e0e0;
}

.center {
  height: 100%;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  position: fixed;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
}

table {
  margin: 0 auto;
  margin-top: 10px;
  text-align: center;
  border-collapse: collapse;
  border: 1px solid #e0e0e0;
}

tr:nth-child(odd) {
  background: #23272a;
  color: #e0e0e0;
  text-shadow: 2px 2px 0px #383838;
}

tr:nth-child(even) {
  background: #2c2f33;
  color: #e0e0e0;
  text-shadow: 2px 2px 0px #383838;
}

th, td {
  padding: 10px 30px;
}

th {
  border-bottom: 1px solid #d4d4d4;
}